<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Bibliothèque Mylène</title>
    <link rel="stylesheet" href="../frontend/style.css">
</head>
<body>
    <header>
        <h1>La Bibliothèque Mylène</h1>
    </header>

    <main>

        <h2>Bienvenue sur une bibliothèque Mylène</h2> 
        
        <p>Découvrez les albums de Mylène Farmer</p>

        <form id="searchForm">
            <input type="text" id="searchQuery" placeholder="Rechercher un mot..." required>
            <button type="submit">Rechercher</button>
        </form>
            
        <div class="boite">
            <table id="resultsTable" class="styled-table">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Album</th>
                        <th>Année</th>
                        <th>Durée</th>
                        <th>Paroles</th>
                        <th>Compositeur</th>
                        <th>Auteur</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Les lignes de résultats seront ajoutées ici -->
                </tbody>
            </div>
    
        <script src="frontend/app.js"></script>

    </main>

    <footer>
        <p>&copy; 2024 La Bibliothèque</p>
    </footer>

    <script src="assets/js/script.js"></script>
</body>
</html>
